.App {
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
}
.App-header {
  background-color: cadetblue;
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}